@import "tailwindcss";
@import "tw-animate-css";

@theme {
    --color-primary: oklch(54.1% 0.281 293.009);
    --color-primary-foreground: #FFFFFF;
    --color-secondary: oklch(44.6% 0.043 257.281);
    --color-secondary-foreground: #FFFFFF;
    --color-accent: oklch(59.2% 0.249 0.584);
    --color-accent-foreground: #FFFFFF;
    --color-background: oklch(96.8% 0.007 247.896);

    --color-primary-hover: oklch(49.1% 0.27 292.581);
    --color-secondary-hover: oklch(37.2% 0.044 257.287);

    --color-primary-active: oklch(49.1% 0.27 292.581);
    --color-secondary-active: oklch(37.2% 0.044 257.287);
}
